In [1]:
# Imports
import pandas as pd
import durak

In [2]:
def play_multiple(num_games, verbose = False):

    strategies = {
        "player1" : "random",
        "player2" : "random",
        "player3" : "random"
    }

    knowledge_depths = {
        "player1" : 1,
        "player2" : 1,
        "player3" : 1
    }

    data = {}

    for i in range(num_games):
        model = durak.DurakModel(verbose=verbose)
        data["game" + str(i)] = durak.play(model)


    return data

In [3]:
data = play_multiple(10, verbose= False)

df = pd.DataFrame.from_dict(data, orient="index")

In [4]:
df

,num_players,num_suits,num_cards_per_suit,num_starting_cards,durak,winners,player_strategies,player_depths
game0,3,3,3,1,2,"[0, 1]",[],[]
game1,3,3,3,1,2,"[0, 1]",[],[]
game2,3,3,3,1,2,"[0, 1]",[],[]
game3,3,3,3,1,0,"[1, 2]",[],[]
game4,3,3,3,1,1,"[0, 2]",[],[]
game5,3,3,3,1,2,"[0, 1]",[],[]
game6,3,3,3,1,0,"[1, 2]",[],[]
game7,3,3,3,1,2,"[0, 1]",[],[]
game8,3,3,3,1,1,"[0, 2]",[],[]
game9,3,3,3,1,1,"[2, 0]",[],[]